{% extends "base.html" %}

{% block title %} create blog Page {% endblock %}

{% block content %}
<div class="container">
    <form method = 'post'>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">title</label>
          <input type="text" class="form-control" name = "title"  id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">description</label>
          <textarea name="description" rows = '10' class="form-control" id=""></textarea>
        </div>
      
        <button type="submit" class="btn btn-success">Create blog</button>
      </form>
</div>
{% endblock %}